<!-- [ Footer ]-->
<footer class="footer pt-0">
    <div class="row">
        <div class="col-lg-3">
            <div class="copyright text-center  text-lg-left  text-muted">
                &copy; 2021 <a href="/home" class="font-weight-bold ml-1">RINVOICE</a>
            </div>
        </div>
    </div>
</footer>