<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="A tamper-proof invoice financing solution using Blockchain.">
<title>RINVOICE | <%= title %></title>
<!-- [ Favicon ] -->
<link rel="icon" href="/images/brand/favicon.png" type="image/png">
<!-- [ Fonts ] -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
<!-- [ Icons ] -->
<link rel="stylesheet" href="/javascripts/vendor/nucleo/css/nucleo.css" type="text/css">
<link rel="stylesheet" href="/javascripts/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
<!-- [ CSS ] -->
<link rel="stylesheet" href="/stylesheets/argon.css" type="text/css">